[secrets]
otaPassword = <password here>
;uploadProtocol = espota
;uploadPort = <ip-address here>
;uploadAuth = --auth='${secrets.otaPassword}'
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
uploadProtocol = esptool
uploadPort = /dev/ttyUSB0
uploadAuth =

[hardware_options]
haveMotionLight = 1
haveMotion = 0
haveLeak = 0
haveOled = 1
boardV10 = 0
